<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <title>登録完了</title>
    </head>
    <body>
    <p>ポケモンの登録が完了しました。</p><br>
    <p><a href="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}index.php?display=back">戻る</a></p>
    </body>
</html>